.titulos {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #605d5f !important;
}

.subtitulos {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #605d5f !important;
  }

  .contSubtitulo-cliente {
    display: flex; 
    flex-direction: column;
    width: 100%;
    padding-right: 25px;
  }

/*//!------Boton agregar--------*/
.btnAddCosecha {
  margin-left: auto;
  margin-right: -2px;
  border: none;
  font-size: 18px !important;
  color: #00b33c;
  background-color: transparent; 
}
.ant-btn-default.btnAddCosecha{
  box-shadow: none;
  margin-top: 2px;
  transition: none !important;
}
.btnAddCosecha:active:hover {
  background: none !important;
  border-color: #ffffff !important;
}
.btnAddCosecha:disabled {
  background-color: #ffffff !important;
}
.ant-btn .ant-btn-default .btnAddCosecha:focus{
  border-color: none !important;
  box-shadow: none !important;
}
.ant-btn-default:not(:disabled).btnAddCosecha:hover {
  /* #8fd14a */
  color: #8fd14a;
  border-color: #8fd14a;
  transition: none;
}
.ant-btn-default:not(:disabled).btnAddCosecha:focus {
  color: #8fd14a;
  border-color: #8fd14a;
  transition: none;
  box-shadow: none !important;
  border: none !important;
}
.ant-btn-default:not(:disabled).btnAddCosecha:active{
  box-shadow: none !important;
  border: none !important;
}
.btnAddCosecha:focus:not(.focus-visible) {
  outline: 0;
}
/*//!------Fin boton agregar--------*/

/*//!------Boton editar--------*/
.btnEditEncuesta {
  margin-left: auto;
  margin-right: -2px;
  border: none;
  font-size: 18px !important;
  color: #00b33c;
  background-color: transparent; 
}
.ant-btn-default.btnEditEncuesta{
  box-shadow: none;
  margin-top: 2px;
  transition: none !important;
}
.btnEditEncuesta:active:hover {
  background: none !important;
  border-color: #ffffff !important;
}
.btnEditEncuesta:disabled {
  background-color: #ffffff !important;
}
.ant-btn .ant-btn-default .btnEditEncuesta:focus{
  border-color: none !important;
  box-shadow: none !important;
}
.ant-btn-default:not(:disabled).btnEditEncuesta:hover {
  /* #8fd14a */
  color: #8fd14a;
  border-color: #8fd14a;
  transition: none;
}
.ant-btn-default:not(:disabled).btnEditEncuesta:focus {
  color: #8fd14a;
  border-color: #8fd14a;
  transition: none;
  box-shadow: none !important;
  border: none !important;
}
.ant-btn-default:not(:disabled).btnEditEncuesta:active{
  box-shadow: none !important;
  border: none !important;
}
.btnEditEncuesta:focus:not(.focus-visible) {
  outline: 0;
}
/*//!------Fin boton editar--------*/

/*//!------Boton nuevo evento--------*/
.btnNuevoEvento {
  margin-left: auto;
  margin-right: -2px;
  border: none;
  font-size: 18px !important;
  color: #F6BB42;
  background-color: transparent; 
}
.ant-btn-default.btnNuevoEvento{
  box-shadow: none;
  margin-top: 2px;
  transition: none !important;
}
.btnNuevoEvento:active:hover {
  background: none !important;
  border-color: #ffffff !important;
}
.btnNuevoEvento:disabled {
  background-color: #ffffff !important;
}
.ant-btn .ant-btn-default .btnNuevoEvento:focus{
  border-color: none !important;
  box-shadow: none !important;
}
.ant-btn-default:not(:disabled).btnNuevoEvento:hover {
  /* #F6BB42 */
  color: #F6BB42;
  border-color: #F6BB42;
  transition: none;
}
.ant-btn-default:not(:disabled).btnNuevoEvento:focus {
  color: #F6BB42;
  border-color: #F6BB42;
  transition: none;
  box-shadow: none !important;
  border: none !important;
}
.ant-btn-default:not(:disabled).btnNuevoEvento:active{
  box-shadow: none !important;
  border: none !important;
}
.btnNuevoEvento:focus:not(.focus-visible) {
  outline: 0;
}
/*//!------Fin boton nuevo evento--------*/


/*//!------Boton ver encuesta--------*/
.btnVerEncuesta {
  margin-left: auto;
  margin-right: -2px;
  border: none;
  font-size: 18px !important;
  color: #4fc1e9;
  background-color: transparent; 
}
.ant-btn-default.btnVerEncuesta{
  box-shadow: none;
  margin-top: 2px;
  transition: none !important;
}
.btnVerEncuesta:active:hover {
  background: none !important;
  border-color: #ffffff !important;
}
.btnVerEncuesta:disabled {
  background-color: #ffffff !important;
}
.ant-btn .ant-btn-default .btnVerEncuesta:focus{
  border-color: none !important;
  box-shadow: none !important;
}
.ant-btn-default:not(:disabled).btnVerEncuesta:hover {
  /* #4fc1e9 */
  color: #4fc1e9;
  border-color: #4fc1e9;
  transition: none;
}
.ant-btn-default:not(:disabled).btnVerEncuesta:focus {
  color: #4fc1e9;
  border-color: #4fc1e9;
  transition: none;
  box-shadow: none !important;
  border: none !important;
}
.ant-btn-default:not(:disabled).btnVerEncuesta:active{
  box-shadow: none !important;
  border: none !important;
}
.btnVerEncuesta:focus:not(.focus-visible) {
  outline: 0;
}
/*//!------Fin boton ver encuesta--------*/

/*//!------Boton Uploads--------*/
.btnUploadEncuesta {
  margin-left: auto;
  margin-right: -2px;
  border: none;
  font-size: 18px !important;
  color: #00b33c;
  background-color: transparent; 
}
.ant-btn-default.btnUploadEncuesta{
  box-shadow: none;
  margin-top: 2px;
  transition: none !important;
}
.btnUploadEncuesta:active:hover {
  background: none !important;
  border-color: #ffffff !important;
}
.btnUploadEncuesta:disabled {
  background-color: #ffffff !important;
}
.ant-btn .ant-btn-default .btnUploadEncuesta:focus{
  border-color: none !important;
  box-shadow: none !important;
}
.ant-btn-default:not(:disabled).btnUploadEncuesta:hover {
  /* #8fd14a */
  color: #8fd14a;
  border-color: #8fd14a;
  transition: none;
}
.ant-btn-default:not(:disabled).btnUploadEncuesta:focus {
  color: #8fd14a;
  border-color: #8fd14a;
  transition: none;
  box-shadow: none !important;
  border: none !important;
}
.ant-btn-default:not(:disabled).btnUploadEncuesta:active{
  box-shadow: none !important;
  border: none !important;
}
.btnUploadEncuesta:focus:not(.focus-visible) {
  outline: 0;
}
/*//!------Fin boton editar--------*/



.my-swal-container{
  user-select: 'none';
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

.grafico-container {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

.grafico-container .recharts-surface {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

.recharts-layer .recharts-pie-sector {
  font-size: 12px;
}

/* Estilo personalizado para el botón "Cancelar" */
.my-swal-cancel-button {
  /* background-color: white !important;
  color: #605d5f !important;
  border: 1px solid #605d5f !important;
  border-radius: 0px !important;
  box-shadow: none; */
}

/* Estilo personalizado para el borde y la letra cuando se hace hover */
.my-swal-cancel-button:hover,
.my-swal-cancel-button:focus {
  /* border: 1px solid #56b43c !important;
  color: #56b43c !important;
  background-color: white !important;
  border-radius: 0px !important; */
}


/*//!------Inicio Drawer--------*/
  #iframeContainer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 600px; /* Ancho deseado del drawer */
    z-index: 9999 !important; /* Ajusta el z-index según tus necesidades */
    transform: translateX(100%);
    transition: transform 0.3s ease-out;
    background-color: white; /* Ajusta el color de fondo según tus necesidades */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Ajusta la sombra según tus necesidades */
  }


  /*//!------Fin Drawer--------*/
